body {
    background-color:lightcyan;
    color:darkslateblue;
}

h1{
    color:darkslateblue;
    size:40px;
    text-align:center;
}

div {
    display: block;
    margin: 0 auto;
    text-align:center;
}

p {
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
}

.money {
    display: block;
    border: 20px;
    background-color: darkgreen;
    border-color: black;
    width: 350px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 60px 10px 50px 10px;
    font-size: 50px;
}